// https://coolors.co/palette/ff9f1c-ffbf69-ffffff-cbf3f0-2ec4b6
$primary_color: #2ec4b6;
$secondary_color: #2ec4b6;
$third_color: #ff9f1c;
$bg_color: #f1faee;
$black_color: #111;
$white_color: #fff;
$light_bg: #f8fbfb;
$dark_color: #212126;
$gray_color: #38383f;
$blue_color: #4cc9f0;
$border_color: #f0f0f5;
$golden_color: #f7b31c;
$dark_green: #157347;
$light_green: #00cc99;
$red_color: #e91e63;
$text_color: #77797c;
$white_text: #f8f1f1;
//colors

@mixin transition($duration: 0.4s, $mode: ease-out) {
  transition: all $duration $mode;
  -moz-transition: all $duration $mode;
  -ms-transition: all $duration $mode;
  -webkit-transition: all $duration $mode;
  -o-transition: all $duration $mode;
}

@mixin transform($property: scale(1.2)) {
  transform: $property;
  -moz-transform: $property;
  -webkit-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
}

@mixin truncate($line_num: 1) {
  @if $line_num == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line_num;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/IRANSansWebFaNum-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea,
button {
  font-family: "sans", Arial, Helvetica, sans-serif;
  outline: 0;
  resize: none;
}

img {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

.wrapper {
  position: relative;
  padding: 4rem 0;

  @media only screen and (max-width: 992px) {
    padding: 3.5rem 0;
  }

  @media only screen and (max-width: 768px) {
    padding: 3rem 0;
  }

  @media only screen and (max-width: 576px) {
    padding: 1.5rem 0;
  }
}

section {
  &.eeeeee {
    background-color: #eeeeee !important;
  }

  &.color-bg {
    background-color: $bg_color !important;
  }
}

// check later
::selection {
  background-color: #c3d9ff;
}

::-webkit-selection {
  background-color: #c3d9ff;
}
// here

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  font-family: "sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: $black_color;
  direction: rtl;
  text-align: right;
  background-color: $white_color;
  width: 100vw;
  min-height: 100vh;

  a {
    color: $text_color;
    @include transition($duration: 0.2s);
    &:hover {
      color: $blue_color;
    }
  }
}

html {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

// here


.fw-900 {
  font-weight: 900 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.font-size-1x {
  font-size: 1em;
}

.font-size-2x {
  font-size: 1.25em;
}

.font-size-3x {
  font-size: 1.5em;
}

.font-size-4x {
  font-size: 2em;
}

.font-size-5x {
  font-size: 3em;
}