@import "bootstrap";
@import "reset";
@import "owl";
@import "fontawesome";

body {
  &.blured {
    overflow: hidden;

    main,
    footer,
    #backToTop {
      filter: blur(4px);
    }
  }
}

.header {
  &__main {
    max-width: 100vw;
    overflow-y: visible;
    box-shadow: 0 10px 32px rgba(0, 0, 0, 0.02);
    position: relative;
    z-index: 9999;
    @include transition;

    & > .container {
      display: flex;
      align-items: center;
    }

    nav {
      width: 100%;

      & > ul {
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        margin-bottom: 0;
        padding-right: 0;

        li {
          padding: 0 0.75rem;
          height: 65px;
          display: flex;
          align-items: center;

          a {
            color: $text_color;

            &:hover {
              color: $secondary_color;
            }

            &.btn-scorize {
              color: $white_color;
              margin-right: 1rem;
            }
          }

          &.active {
            background-color: $third_color;
            @include transition;

            a {
              color: $white_color;
            }

            &:hover {
              background-color: lighten($color: $third_color, $amount: 5%);
            }
          }

          &.has-children {
            position: relative;

            ul {
              position: absolute;
              right: 0;
              top: 100%;
              background-color: $white_color;
              z-index: 100;
              list-style: none;
              padding: 0;
              width: max-content;
              max-width: 180px;
              min-width: 150px;
              box-shadow: 0 10px 32px rgba(0, 0, 0, 0.1);
              opacity: 0;
              visibility: hidden;
              transform: rotateX(90deg);
              transform-origin: top;
              @include transition;

              li {
                padding: 0;
                height: unset;

                a {
                  color: $text_color;
                  padding: 0.5rem 0;
                  margin: 0 1rem;
                  display: block;
                  width: 100%;

                  &:hover {
                    color: $secondary_color;
                    transform: translateX(-0.5rem);
                  }
                }

                &:not(:last-child) {
                  a {
                    border-bottom: 1px solid $border_color;
                  }
                }
              }
            }

            &::after {
              content: "\f0d7";
              font-family: "Font Awesome 5 Pro";
              font-weight: 900;
              color: $text_color;
              font-size: 1.2rem;
              margin-right: 0.5rem;
              display: inline-block;
              position: relative;
              top: 3px;
              @include transition;
            }

            &:hover {
              &::after {
                transform: rotate(180deg);
              }

              ul {
                opacity: 1;
                visibility: visible;
                transform: rotateX(0);
              }
            }
          }
        }
      }
    }

    &__left {
      max-height: 65px;

      .logo {
        padding: 0.5rem 0;
        display: block;
        height: 100%;

        img {
          display: block;
          width: 49px;
          height: 49px;
        }
      }
    }

    &__menu {
      display: none;
    }

    &__sm {
      display: none;
    }

    &.fixed {
      position: fixed;
      top: -100%;
      background-color: $white_color;
      z-index: 999;
      width: 100%;

      &.show {
        top: 0;
        box-shadow: 0 10px 32px rgba(0, 0, 0, 0.05);
      }
    }
  }

  @media only screen and (max-width: 768px) {
    &__main {
      overflow-x: hidden;
      height: 100%;
      max-height: 57px;

      nav {
        & > ul {
          display: none;
        }
      }

      &__left {
        .logo {
          padding: 0.25rem 0;

          img {
            display: block;
            width: 60px;
          }
        }
      }

      &__menu {
        display: block;

        .toggle {
          position: relative;
          width: 49px;
          height: 49px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;

          span {
            position: absolute;
            width: 40px;
            height: 4px;
            border-radius: 4px;
            background: $secondary_color;
            @include transition($duration: 0.5s);

            &:nth-child(2) {
              transform: translateY(-15px);
              width: 25px;
              right: 6px;
            }

            &:nth-child(3) {
              transform: translateY(15px);
              width: 15px;
              right: 6px;
            }
          }

          &.active span {
            &:nth-child(1) {
              transform: translateX(60px);
            }

            &:nth-child(2) {
              width: 40px;
              transform: translateX(0) rotate(45deg);
              @include transition($duration: 0.2s);
            }

            &:nth-child(3) {
              width: 40px;
              transform: translateX(0) rotate(-45deg);
              @include transition($duration: 0.3s);
            }
          }
        }
      }

      &__sm {
        position: fixed;
        top: 57px;
        background-color: $white_color;
        height: calc(100vh - 57px);
        width: 300px;
        overflow-y: scroll;
        max-width: 70vw;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include transition;
        right: -100%;
        // right: 0;

        &.active {
          right: 0;
        }

        &__body {
          padding: 1rem;
          padding-top: 0.5rem;

          & > ul {
            padding: 0;
            margin-top: 0;
            list-style: none;

            li {
              padding: 0.5rem 0.25rem;

              a {
                color: $text_color;
                list-style: none;
              }

              &:not(:last-child) {
                border-bottom: 1px solid $border_color;
              }

              &.has-children-sm {
                position: relative;

                ul {
                  list-style: none;
                  padding-right: 1rem;
                  max-height: 0;
                  overflow: hidden;
                  @include transition;
                }

                &::after {
                  content: "\f0d7";
                  font-family: "Font Awesome 5 Pro";
                  font-weight: 900;
                  color: $text_color;
                  font-size: 1.5rem;
                  margin-right: 0.5rem;
                  display: inline-block;
                  position: absolute;
                  left: 1rem;
                  top: 0;
                  @include transition;
                }

                &.active {
                  ul {
                    max-height: 100px;
                    margin-top: 1rem;
                  }

                  &::after {
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }

        &__footer {
          padding: 1rem;
          border-top: 1px solid #ddd;

          .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 1rem;

            span {
              margin-bottom: 0.5rem;
            }
          }

          .icons {
            display: flex;
            justify-content: space-around;
            margin-bottom: 0.5rem;

            i {
              font-size: 2rem;
              color: $text_color;
              @include transition;

              &:hover {
                color: $secondary_color;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  margin-top: 2rem;

  & > .container {
    border-top: 1px solid #ddd;
    padding-top: 1.5rem;
  }

  .footer {
    &__list {
      .title {
        font-weight: 500;
        margin-bottom: 0.75rem;
        margin-top: 0.5rem;
      }

      img {
        max-width: 150px;
        height: auto;
        margin-bottom: 1rem;
      }

      ul {
        li {
          margin-bottom: 0.5rem;

          a {
            font-weight: 300;
            color: $text_color;
            @include transition;

            &:hover {
              color: $primary_color;
            }
          }
        }
      }
    }

    &__copyright {
      margin-top: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-top: 1px solid #ddd;

      .box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: 768px) {
          flex-direction: column;
        }
      }

      &__right {
        display: flex;
        align-items: center;
        color: $text_color;

        .icon {
          margin-left: 1rem;
        }

        @media only screen and (max-width: 768px) {
          margin-bottom: 1rem;
        }
      }

      &__left {
        display: flex;
        align-items: center;

        li {
          margin-right: 1rem;

          a {
            color: $text_color;
            font-weight: 400;

            &:hover {
              color: $dark_color;
            }
          }
        }

        img {
          max-height: 45px;
          margin-right: 1rem;
        }
      }
    }

    &__contact {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      color: $text_color;

      p {
        margin-right: 0.5rem;
      }

      i {
        font-size: 1.3rem;

        &::after {
          color: $primary_color;
        }

        &::before {
          color: $secondary_color;
        }
      }
    }

    &__social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100vw;
      margin-top: 1rem;
      padding: 0.5rem 0;

      .item {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 100%;
        background-color: $primary_color;
        color: $white_color;
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @include transition;

        img {
          width: 1.5rem;
          height: 1.5rem;
          margin: 0;
        }

        &::after {
          content: "";
          display: block;
          width: 150%;
          height: 100%;
          position: absolute;
          top: -100%;
          left: -100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 70%,
            rgba(255, 255, 255, 0.3) 70%
          );
          transform: rotate(-45deg);
          @include transition;
        }

        &:hover {
          transform: scale(1.1);
          &::after {
            top: 3.5rem;
            left: 2.5rem;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .footer {
      &__social {
        margin-bottom: 1.5rem;
        justify-content: flex-start;

        .item {
          margin-left: 1rem;
        }
      }
    }
  }

  @media only screen and (max-width: 576px) {
    .col-12 {
      margin-bottom: 1.5rem;

      h6 {
        margin-bottom: 0.75rem;
      }
    }

    .footer {
      &__social {
        margin-bottom: 0;
      }
    }
  }
}

.product {
  &__list {
    .item {
      background-color: $bg_color;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
      display: block;
      margin-bottom: 2rem;

      .img-wrapper {
        width: 100%;
        height: 260px;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include transition;
        }

        .border-wrapper {
          width: calc(100% - 3rem);
          height: calc(100% - 2rem);
          position: absolute;
          overflow: visible;
          inset: 1rem 1.5rem;

          .brd-1,
          .brd-2 {
            width: 90%;
            height: 90%;
            position: absolute;
            display: block;
            border: 3px solid $white_color;

            &::after {
              content: "";
              display: block;
              position: absolute;
              width: calc(10% + 3px);
              height: calc(10% + 3px);
              border: 3px solid $white_color;
            }
          }

          .brd-1 {
            top: 0;
            right: 0;
            border-bottom: unset;
            border-left: unset;

            &::after {
              left: calc(-10% - 2px);
              top: -2px;
              border-top: unset;
              border-left: unset;
            }
          }

          .brd-2 {
            bottom: 0;
            left: 0;
            border-right: unset;
            border-top: unset;

            &::after {
              right: calc(-10% - 2px);
              bottom: -2px;
              border-bottom: unset;
              border-right: unset;
            }
          }
        }
      }

      .content {
        padding: 0.5rem;
        background-color: $white_color;
        position: relative;

        .title {
          color: $dark_color;
          font-weight: 500;
          font-size: 1.25em;
          text-align: center;
          display: block;
          position: relative;
          z-index: 2;
          @include transition;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          background-color: $secondary_color;
          z-index: 1;
          transition: transform 0.4s ease-in-out;
          transform: scaleX(0);
          transform-origin: left;
        }
      }

      &:hover {
        .img-wrapper {
          img {
            transform: scale(1.25);
          }
        }

        .content {
          .title {
            color: $white_color;
          }

          &::after {
            transform-origin: right;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

.shared {
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination {
      margin-bottom: 0;
      margin-top: 2rem;
      display: flex;
      justify-content: center;

      & > li {
        &.active a {
          background-color: $primary_color;
          border-color: $primary_color;
          color: $white_color;
        }

        a {
          color: $dark_color;
        }

        &:first-child > a > span,
        &:last-child > a > span {
          line-height: 1.3;
        }
      }
    }
  }

  &__breadcrumb {
    padding: 2rem 0;

    &__main {
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 0.5rem;
      a {
        color: $primary_color;
        @include transition;

        &:hover {
          color: $secondary_color;

          &::after {
            color: $primary_color;
          }
        }

        &::after {
          content: "/";
          margin: 0 0.25rem;
        }
      }
    }

    .title {
      font-size: 2.5em;
      font-weight: 700;
      color: $dark_color;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &::before {
        content: "";
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background-image: url("../images/before.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        transform: rotate(90deg);
        margin-left: 0.5rem;
      }
    }
  }
}
